!!!
%html
  %head
    %link{rel:"stylesheet", href:stylesheet_path("application")}
  %body
    %div{class:"jumbotron"}
      %div{class:"container text-center"}
        %a{ href: "https://github.com/yuchan/sinatra-boilerplate", class: "btn btn-info" }
          View on Github

    %script{src:javascript_path("application")}
